body{
    margin: 0;
}
#blackFriday{
    border: 5px solid black;
    display: flex;
    height: 35px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    box-sizing: border-box;
    background-color:black;
    color:white
}
#blackFriday img{
    width: 20px;
    filter: invert();
}
header{
    position: sticky;
    top: 0;
    /* border-top: solid red 1px; */
    border-bottom: solid red 1px;
    width: 100%;
    background-color: rgb(200, 56, 56);
    box-sizing: border-box;
    border-bottom: #500707 solid 10px;
    border-top: #500707 solid 10px;
}
header ul{
    display:flex;
    justify-content: space-evenly;
    border-top: solid black 2px;
    padding: 10px;
    margin: 0 5px;
}
header li{
    list-style-type: none;
}
#pieceH1{
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    align-items: center;
    font-family: Garamond;
    color: white
}
#pieceH1 p{
    width: 185px;
    font-size: 20px;
    text-align: justify;
    font-style: italic;
    border: #500707 solid 1px;
}
#pieceH1 h1{
    width: 405px;
    height: auto;
}
footer{
    border-top: #500707 solid 10px;
    border-bottom: #500707 solid 10px;
    width: 100%;
    height: 400px;
}
.artigo{
    display: flex;
}

/* fazer um modal com timeout */

/* https://www.blackhornmeats.com.br/categoria/wagyu?gclid=Cj0KCQiA-JacBhC0ARIsAIxybyNi9xs5wVOTO0s9mNDuRtXRPYv4YyJd2-I1mt3d6EhNIanBCFg7J44aAjXmEALw_wcB */